<div>
  product_name
</div>
<div>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  <%= for item <- @items do%>
  <tr>
    <td><%= item["itemid"]%></td>
    <td><a href={item["detail_url"]}><%= item["name"]%></a></td>
  </tr>
  <% end %>
</table>

</div>
